*{
    font-family: Helvetica;
    font-size: 1.2rem;
    text-align: justify;
    background-color: #f7cd9af3;
}

h1{
    font-size: 2rem;
    letter-spacing: 50px;
    color: darkorange;
    text-align: right;
}

h2{
    font-size: 1.5rem;
    color: aliceblue;
    background-color: darkorange;
}

img{
    width: 300px;
    margin-bottom: 15px;
}

img:nth-child(even){
    float: left;
    margin-right: 10px;
}

img:nth-child(odd){
    float: right;
    margin-left: 10px;
}